/*
Orange farge: #e67e22
*/


/*----------------------------------------------------*/
/*Oppstart */
/*----------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/*----------------------------------------------------*/
/*Gjenbrukbare komponenter */
/*----------------------------------------------------*/

.box{
    padding:1%;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section{
    padding: 89px 0;
}

/*HEADINGS*/

h1,
h2,
h3{
    font-weight: 300;

    letter-spacing: 1px;
    color: #fff;

}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 3px;
    font-size: 240%;
    color: #fff;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/***********************
 * Søkefelt*
 ***********************/

 .flexsearch--wrapper {
 	height: auto;
 	width: auto;
 	max-width: 60%;
 	overflow: hidden;
 	background: transparent;
 	margin: 0;
 	position: static;
 }

 .flexsearch--form {
 	overflow: hidden;
 	position: relative;
 }

 .flexsearch--input-wrapper {
 	padding: 0 66px 0 0;
 	overflow: hidden;
 }

 .flexsearch--input {
   width: 100%;
 }


 .flexsearch {
   position: absolute;
   width: 1140px;
   top: 63%;
   left: 50%;
   /* Oversetter kontainerfeltet slik at senter bergenes ut i fra midtpunket på siden*/
   transform: translate(-50%, -50%);


 }

 .flexsearch--input {
   -webkit-box-sizing: content-box;
 	-moz-box-sizing: content-box;
 	box-sizing: content-box;
  	height: 50px;
   padding: 0 46px 0 10px;
 	border-color: #e67e22;
   border-radius: 25px;
   border-style: solid;
 	border-width: 3px;
   margin-top: 15px;
   color: #e67e22;
   font-family: 'Helvetica', sans-serif;
 	font-size: 26px;
 	-webkit-appearance: none;
 	-moz-appearance: none;
 }

 .flexsearch--submit {
   position: absolute;
 	right: 0;
 	top: 0;
 	display: block;
 	width: 53px;
 	height: 60px;
   padding: 0;
   border: none;
 	margin-top: 12px;
   margin-right: 5px;
 	background: transparent;
   color:#e67e22;
   font-family: 'Helvetica', sans-serif;
   font-size: 40px;
   line-height: 60px;
 }

 .flexsearch--input:focus {
   outline: none;
   border-color: #e67e22;
 }

 .flexsearch--input:focus.flexsearch--submit {
  	color: #e67e22;
 }

 .flexsearch--submit:hover {
   color: #e67e22;
   cursor: pointer;
 }

 ::-webkit-input-placeholder {
 	color: #e67e22;
 }

 input:-moz-placeholder {
   color: #e67e22
 }




/*----------------------------------------------------*/
/*Header */
/*----------------------------------------------------*/

header{
    /* Setter en mørk gradient som en ekstra lag over bakgrunsbilde for å gjøre teksten mer synlig*/
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/background3.jpg); /*background3 eller background7 funker bra*/
    background-size: cover;
    background-position: center;

    height: 100vh;

}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /* Oversetter kontainerfeltet slik at senter bergenes ut i fra midtpunket på siden*/
    transform: translate(-50%, -50%);


}

.logo{
    height: 150px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 9px 0px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition:border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22
}


/*---------------------------------------------------------*/
/*Siden vi ikke fikk lov å bruke eksterne bibliotek        */
/*Tok jeg disse stilene fra  "ResponsiveGridSystem.com"    */
/*---------------------------------------------------------*/

.span-1-of-4 {
	width: 23.8%;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 15% 1.6%;
}

.col:first-child { margin-left: 0; }
